.logIn-box{
    display: block;
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
 
}

button{
    width: 10%;
    background-color: #3f525c8c;
    border-radius: 2px;
    padding: 0.5rem;
    font-size: 0.7rem;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-style: none;
    margin: 5px
      
}

button:hover{
    background-color: #3f525c;
}

input{
    padding: 5px;
    width: 20%;
    margin-left: 10px;
    margin: 10px;
    border-style:none;
    border-bottom-color:  rgba(128, 128, 128, 0.548);
    border-bottom-style: solid;
}

label{
    margin: 10px;
    color: grey;
}