<div class="logIn-box">
    <div *ngIf="registered">
        <h1>Log In</h1>
        <div>
            <label>Username</label>
            <input type="text" placeholder="Email" #email />
        </div>

        <div>
            <label>Password</label>
            <input type="password" placeholder="Password" #password />
        </div>

        <button (click)="logIn(email.value, password.value)">Log In</button>
        <button (click)="openRegister()">Register</button>
    </div>

    <app-register *ngIf="!registered"></app-register>
</div>