<h2>My Heroes</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="button-delete" title="delete hero" (click)="delete(hero)">x</button>
    </li>
</ul>

<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />

    <button class="add-button" (click)="add(heroName.value); heroName.value=''">
        Add hero
    </button>

</div>