.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    position: relative;
    cursor: pointer;
  }
  
  .heroes li:hover {
    left: .1em;
  }
  
  .heroes a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .heroes a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
  }
  
  .heroes a:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .add-button{
    padding: .5rem 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    border-style: none;
    border-radius: 2px;
    color: white;
    background-color: #71747586;
  }
  
  .add-button:hover{
    color: white;
    background-color: #42545C; 
  }

  .button-delete{
    position: absolute;
    left: 210px;
    top: 5px;
    bottom: 5px;
    background-color: #EEE;
    color:#525252;
    font-size: 1.1rem;
    padding: 5px; 
    padding-top: 0px;
    border-style: none;
    
  }

  .button-delete:hover{
    background-color: #525252;
    color: white;
  }