
nav {

    max-width: 100%;
  
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-content: flex-start;
    align-items: flex-start;

   /* text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;*/
  }

  a {
    background-color: #71747586;
    border-radius: 2px;
    padding: 0.6rem;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 50%;
    min-width: 50px;
    margin: .5rem ;
    box-sizing: border-box;
  }


  a:hover {
    color: white;
    background-color: #3f525c;
  }
  a.active {
    background-color: black;
  }


  @media (min-width: 600px) {
    a {
      width: 10%;
      box-sizing: content-box;
    }
  }