<div class="logIn-box">
    <h1>Register</h1>
    <div>
        <label>Username</label>
        <input type="text" placeholder="Email" #email />
    </div>

    <div>
        <label>Password</label>
        <input type="password" placeholder="Password" #password />
    </div>

    <button (click)="register(email.value, password.value)">Register</button>
</div>